/*******************************************/
/************ ESTILOS GERAIS ***************/
/*******************************************/
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

/************ Estilos: Login ***************/
.title{
    color: #007BFF;
}