.container-galeria{
    margin-top: 100px;
}

.area-imagem{
    position: relative;
    margin: 40px 40px;
}

.pixel{
    position:absolute;
    background-color:black;
    width: 6px; height: 6px;
    color: #FFF;
}

.ponto{
    position: absolute;
    background-color: blue;
    border-radius: 15px;
    width: 12px; height: 12px;
}

.area-opcoes{
    margin-left: 5%;
}