.container-galeria{
    margin-top: 100px;
}

.area-imagem{
    position: relative;
    margin: 40px 40px;
}

.pixel{
    position:absolute;
    background-color:black;
    width: 6px; height: 6px;
    color: #FFF;
}

.area-opcoes{
    margin-left: 5%;
}